.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}


body {
    font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

#pin-container {
  width: 100%;
  height: 751px;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slide-container {
  width: 500%;
  height: 751px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: grey;
  font-size: 40px;
}

.project {
  width: 20%;
  float: left;
}

#intro {
  display:flex;
  flex-direction: column;
  background-attachment: fixed;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/BlQQ3sV.jpg");
  height:751px;
}

.intro-one {
  background-color: #F6D86E;
  height:751px;
  text-align: center;
}

.tech-used {
  margin-top: -150px;
  align-self: center;
  flex:1;
  margin-left: 25px;
  width: 40%;
  height: 50%;
}

.intro-three {
  /*background-img: url("../img/last-call.gif");*/
  background-color: grey;
  height: 751px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
}


.intro-two {
  background-image: url("../img/portfolio-pic-2.jpg");
  height: 751px;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic-project {
  position: relative;
  /*background-image: url("http://i.imgur.com/6Thi8KE.png");*/
  z-index: 2;
  width: 32%;
  height: 32%;
  align-self: center;
  background-repeat:no-repeat;
  background-size:contain;
  margin-right: 25px;
  margin-top: -159px;
}
.pic-project>img {
  width:101%;
  height: 101%;
}

.overlay {
    position: absolute;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: grey;
    opacity: 0;
    transition: all 0.5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.overlay:hover {
  opacity: 0.9;
}

.overlay > a {
    font-size: 25px;
    border: 3px solid white;
    margin: 10px;
    padding: 2px 20px 4px 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    text-align: center;
}

.overlay > p {
    font-size: 25px;
    margin: 5px;
    color: white;
    letter-spacing: 2px;
    align-self: center;
}

.one, .two, .three{
  display: flex;
  justify-content: center;
  background-color: white;
  height:751px;
  /*background-size: cover;*/
}

.main-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-navbar img{
  width: 25px;
  flex: 2;
}

.arrow {
  font-size: 40px;
  color: white;
  align-self: center;
  flex:2;
}

.about-me p {
  text-align: center;
  color: white;
  font-size: 25px;
  flex: 2;
}

 .info {
  color: white;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 158px;
  z-index: 999;
 }

.head-text.lift-text {
  margin-top: 95px;
  text-align: center;
  flex: 2;
}

/*@media only screen and (max-width: 1090px)  {
.pic-project {
  width: 37%;
  height: 29%;
}
.tech-used {
  width: 27%;
  height: 50%;
}
}*/

/*@media only screen and (max-width: 900px)  {
.pic-project {
  width: 42%;
  height: 29%;
}
.tech-used {
  width: 27%;
  height: 50%;
}
}

@media only screen and (max-width: 500px) {
.pic-project {
    height: 25%;
    width: 33%;
  }

.tech-used {
  width: 30%;
  height: 50%;
}
}
*/
